



body{
	background-color: #A1A1A1 !important;
}


a{
	color:white; 
}

#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
  </style>
  <!-- End SlidesJS Optional-->

  <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
  <style>
    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }


    body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.4em;
    color: #666;
    background: #fbfbfb;
}

.wrapper {
  margin: 100px 200px;
}

a.button-cart {
  display: block;
  width: 168px;
  height: 46px;
  border-radius: 40px;
  position: relative;
  transition: all 0.5s cubic-bezier(.7,0,.5,1.4);
}


a.button-cart.active {
    width: 178px;
}

a.button-cart:hover {
  text-decoration: none;
}

.button-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 14px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(143, 255, 213, 0.26);
    -webkit-animation: quickScaleIn 0.6s cubic-bezier(.7,0,.5,1.4) alternate;
    transform-origin: bottom left;
    overflow: hidden;
    
    
    background: rgba(61,252,255,1);
    background: -moz-linear-gradient(-45deg, rgba(61,252,255,1) 0%, rgba(175,255,211,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(61,252,255,1)), color-stop(100%, rgba(175,255,211,1)));
    background: -webkit-linear-gradient(-45deg, rgba(61,252,255,1) 0%, rgba(175,255,211,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(61,252,255,1) 0%, rgba(175,255,211,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(61,252,255,1) 0%, rgba(175,255,211,1) 100%);
    background: linear-gradient(135deg, rgba(61,252,255,1) 0%, rgba(175,255,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dfcff', endColorstr='#afffd3', GradientType=1 );
    transition: all .3s cubic-bezier(.7,0,.5,1.4);
}

.circle {
  position: absolute;
  overflow: hidden;
  z-index: 2;
    top: -22px;
    left: -12px;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    -webkit-animation: quickScaleIn 0.6s cubic-bezier(.7,0,.5,1.4) backwards;
    transform-origin: bottom left; 
    animation-delay: 0.2s;

    box-shadow: 5px 5px 15px 0px rgba(238, 146, 255, 0.25);
    background: rgba(229,201,255,1);
  background: -moz-linear-gradient(-45deg, rgba(229,201,255,1) 0%, rgba(255,219,222,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(229,201,255,1)), color-stop(100%, rgba(255,219,222,1)));
  background: -webkit-linear-gradient(-45deg, rgba(229,201,255,1) 0%, rgba(255,219,222,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(229,201,255,1) 0%, rgba(255,219,222,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(229,201,255,1) 0%, rgba(255,219,222,1) 100%);
  background: linear-gradient(135deg, rgba(229,201,255,1) 0%, rgba(255,219,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c9ff', endColorstr='#ffdbde', GradientType=1 );

    transition: all .3s cubic-bezier(.7,0,.5,1.4);
}

.button-cart.active .circle {
    -webkit-animation: moveUpDown 0.4s ease-in-out;
    animation-iteration-count: 1;
}

.icon-cart svg {
    position: absolute;
    width: 22px;
    z-index: 3;
    top: 14px;
    left: 12px;
    fill: #433746;
    -webkit-animation: quickFadeIn 0.4s ease backwards;
    animation-delay: 0.7s;
    transition: all 0.1s cubic-bezier(.7,0,.5,1.4);
    transition-delay: 0.3s;
}

.button-cart.active .icon-cart svg {
    top: 60px;
}

.icon-checkmark svg {
    position: absolute;
    width: 22px;
    height: 26px;
    z-index: 3;
    top: -30px;
    left: 14px;
    fill: #433746;
    transition: all 0.1s cubic-bezier(.7,0,.5,1.4);
    transition-delay: 0.4s;
}

.button-cart.active .icon-checkmark svg {
    top: 12px;
}

.text {
  color: #221f25;
    font-weight: 600;
    font-size: 14px;
}

.text-before {
  position: absolute;
    left: 50px;
    top: 13px;
    z-index: 4;
    -webkit-animation: quickFadeIn 0.4s ease-out backwards;
    animation-delay: 0.6s;
    transition: all 0.2s cubic-bezier(.7,0,.5,1.4);
    transition-delay: 0.1s;
}

a.button-cart.active .text-before {
    top: 80px;
}

.text-after {
  position: absolute;
    left: 50px;
    top: 13px;
    z-index: 4;
    top: -30px;
    transition: all 0.2s cubic-bezier(.7,0,.5,1.4);
    transition-delay: 0.2s;
}

a.button-cart.active .text-after {
    top: 13px;
}

/* KEYFRAMES */
@-webkit-keyframes quickScaleIn {
From {
    -webkit-transform: scale(0);
}
To {
    -webkit-transform: scale(1);
}
}

@-webkit-keyframes quickFadeIn {
From {
    opacity: 0;
}
To {
   opacity: 1;
}
}

@-webkit-keyframes moveUpDown {
    0% {
        top: -22px;
    }
    50% {
       top: -16px;
    }
    100% {
        top: -22px;
    }
}

  span {cursor:pointer; }
    .number{
      margin:100px;
    }
    .minus, .plus{
      width:20px;
      height:20px;
      background:#f2f2f2;
      border-radius:4px;
      padding:8px 5px 8px 5px;
      border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
    input{
      height:34px;
      width: 100px;
      text-align: center;
      font-size: 26px;
      border:1px solid #ddd;
      border-radius:4px;
      display: inline-block;
      vertical-align: middle;

      
      